@tailwind base;
@tailwind components;
@tailwind utilities;

:root:has(
    :is(
        .modal-open,
        .modal:target,
        .modal-toggle:checked + .modal,
        .modal[open]
      )
  ) {
  scrollbar-gutter: unset;
}

html, body {
  overflow-x: clip;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.tooltip:before {
  max-width: 10rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
